.images_other {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.arrows {
  padding-top: 10px;
  text-align: center;
}

.ant-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.arrow_previous,
.arrow_next {
  padding: 5px;
  display: inline-block;
}
