.ntlOverview {
  margin-top: 15%;
}

.ntlOverviewTabs {
  width: 33%;
  margin-left: 10%;
}

.ntlOverviewCards {
  margin-left: 10%;
  width: fit-content;
}

.cardContent {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
}

.cardContent > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cardContent > ul > li {
  float: left;
}
.cardContent > ul > li:nth-child(4n + 1) {
  clear: both;
}

.singleCard {
  padding: 20px;
}

#simple-tabpanel-0,
#simple-tabpanel-1,
#simple-tabpanel-2 {
  width: fit-content;
}
