@media screen and (max-width: 800px) {
  .single_product_content {
    margin: 5%;
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  .single_product_info {
    margin-top: 15%;
  }

  .bids_list {
    margin-top: 10%;
  }
}

@media screen and (min-width: 800px) {
  .single_product_content {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  .single_product_info {
    margin-left: 5%;
  }

  .single_product_pictures > .ant-image > .ant-image-mask {
    height: 400px;
  }
}

.single_product_images {
  display: flex;
  width: auto;
}

.single_product_pictures {
  width: 100%;
}

.single_product_info {
  display: flex;
  flex-direction: column;
}

.single_product_pictures_main_pic {
  border-radius: 5;
  object-fit: cover;
}
