.login_page_content {
  padding: 4% 25% 10% 25%;
}

@media (max-width: 550px) {
  .login_page_content {
    padding-inline: 10%;
  }
}

.login_page_login {
  margin-top: 5%;
  text-align: center;
  color: #9b9b9b;
}

.login_page_title {
  text-align: center;
}

.login_page_content_content {
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 0.5px;
}

.login_page_container {
  margin: 5%;
}

.login_page_input {
  width: 100%;
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 0.5px;
  height: 45px;
  padding: 10px;
}

.login_page_label {
  padding-top: 5%;
}

.login_page_button {
  padding-top: 5%;
}

.login_page_forgot_password {
  margin-top: 5%;
  text-align: center;
  color: #9b9b9b;
}

.login_page_other_logins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 5%;
}
