.main-footer {
  color: white;
  background-color: #252525;
  padding-top: 3em;
  position: relative;
  bottom: -16px;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.main-footer > .container > .row > .col > ul > li {
  color: #d8d8d8;
}

.main-footer > .container > .row > .col > p {
  color: #979797;
}
